{% extends "base.html" %}
{% block content %}
<div class="table-container">
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Key</abbr></th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Session</td>
      <td>{{session}}</td>
    </tr>
     <tr>
      <th>2</th>
      <td>Code</td>
      <td>{{code}}</td>
     </tr>
     <tr>
      <th>3</th>
      <td>Access Token</td>
      <td>{{access-token}}</td>
     </tr>
      <tr>
      <th>4</th>
      <td>Refresh Token</td>
      <td>{{refresh-token}}</td>
      </tr>
      <tr>
      <th>3</th>
      <td>Scope</td>
      <td>{{scope}}</td>
       </tr>

  </tbody>
  </table>
</div>

{% include "services.html" %}


{% endblock %}
