;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0"]
  [metosin/reitit "0.5.11"]
  [fipp "0.6.14"]]
 
 
 :dev-http {8081 "public"}
 :builds
{:frontend
 {:target :browser
  :modules {:main {:init-fn frontend.app/init}}}}}
